<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto">
	<supports-screens

		android:roundIcon="@mipmap/ic_scan_round"
		android:largeScreens="true"
		android:xlargeScreens="true"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>
	<application
		tools:ignore="UnusedAttribute"
		android:allowBackup="false"
		android:label="QR Bar Code"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:icon="@mipmap/ic_scan">
		<activity
			android:name=".activity.MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
